.linktext{

}
.label-small{
    font-family: "Segoe UI",sans-serif;
    font-size: 12px;
}
.label-normal{
    font-family: "Segoe UI",sans-serif;
    font-size: 18px;
}
.label-normal-bold{
    font-family: "Segoe UI",sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.label-big{
    font-family: "Segoe UI",sans-serif;
    font-size: 25px;
}
.label-big-bold{
    font-family: "Segoe UI",sans-serif;
    -fx-font-weight: bold;
    font-size: 25px;
}
.button-follow{
    -fx-background-radius: 50;
    -fx-background-color: #209bcb;
    -fx-border-style: none;
    -fx-border-insets: 0;
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-min-width: 80px;
    -fx-min-height: 32px;

}
.button-unFollow{
    -fx-background-radius: 50;
    -fx-background-color: transparent;
    -fx-background-color: #a0a0a0;
    -fx-border-insets: 0;
    -fx-border-style: none;
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-min-width: 80px;
    -fx-min-height: 32px;
}