.root {
    -fx-background-color: #2b2b2b;
    -fx-font-family: Segoe UI;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.linktext{

}
.label-small{
    -fx-text-fill: white;
    -font-family: "Segoe UI",sans-serif;
    -font-size: 12px;
}
.label-normal{
    -fx-text-fill: white;

    -font-family: "Segoe UI",sans-serif;
    -font-size: 18px;
}
.label-normal-bold{
    -fx-text-fill: white;
    -font-family: "Segoe UI",sans-serif;
    -font-size: 18px;
    -font-weight: bold;
}
.label-big{
    -fx-text-fill: white;
    -font-family: "Segoe UI",sans-serif;
    -font-size: 25px;
}
.label-big-bold{
    -fx-text-fill: white;
    -font-family: "Segoe UI",sans-serif;
    -fx-font-weight: bold;
    -font-size: 25px;
}
.label-huge-bold{
    -fx-text-fill: white;
    -font-family: "Segoe UI",sans-serif;
    -fx-font-weight: bold;
    -font-size: 36px;
}
.button-follow{
    -fx-background-radius: 50;
    -fx-background-color: #209bcb;
    -fx-border-style: none;
    -fx-border-insets: 0;
    -fx-font-size: 14px;
    /*-fx-padding: 2 2 2 10;*/
    -fx-alignment: center;
    -fx-font-weight: 400;
    -fx-min-width: 80px;
    -fx-min-height: 32px;
}
.button-follow:hover{
    -fx-effect: dropshadow(gaussian, rgba(101, 101, 101, 0.3), 10, 0.5, 0.0, 0.0);
}
.button-unFollow{
    -fx-background-radius: 50;
    -fx-background-color: transparent;
    -fx-background-color: #a0a0a0;
    -fx-border-insets: 0;
    -fx-border-style: none;
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-font-weight: 400;
    -fx-min-width: 80px;
    -fx-min-height: 32px;
}
.button-unFollow:hover{
    -fx-effect: dropshadow(gaussian, rgba(144, 144, 144, 0.3), 10, 0.5, 0.0, 0.0);
}

.btn-image-circular{
    -fx-background-color: transparent;
    -fx-background-radius:80;
}
.btn-image-circular:hover{
    -fx-effect: dropshadow(gaussian, rgba(132, 132, 132, 0.13), 10, 0.5, 0.0, 0.0);
}

.hBox-borderd{
    -fx-border-style: none none solid none;
    -fx-border-width: 0.25;
    -fx-border-color: #747474;
}
.image-clickable{

}
.image-clickable:hover{
    -fx-effect: dropshadow(gaussian, rgb(26, 122, 125), 10, 0.5, 0.0, 0.0);
}
.message-cell-right{
    -fx-background-color: #4b7da7;
    -fx-background-radius: 30px;
}
.message-cell-right:hover{
    -fx-background-color: #426c8e;

}
.message-cell-left{
    -fx-background-color: #696969;
    -fx-background-radius: 30px;

}
.message-cell-left:hover{
    -fx-background-color: #585858;
}



.button-blue{
    -fx-background-color: rgb(18, 122, 214);
    -fx-background-radius: 10px;
}
.button-blue:hover{
    -fx-background-color: rgb(25, 102, 170);
}

/*.button:focused {*/
/*    -fx-border-width: 1.3px;*/
/*}*/

.button:hover {
    -fx-background-color: rgb(174, 174, 174);
}

/*.button:pressed {*/
/*    -fx-scale-y: 0.98;*/
/*    -fx-scale-x: 0.98;*/
/*}*/

/*!* Default Button *!*/
/*.button:default {*/
/*    -fx-background-color: rgb(18, 122, 214);*/
/*    -fx-text-fill: white;*/
/*    -fx-border-width: 0px;*/
/*}*/

/*.button:default:hover {*/
/*    -fx-background-color: rgb(16, 110, 190);*/
/*}*/

/*.button:default:focused {}*/
.backGround-gray-gradient {
    -fx-background-color:
            linear-gradient(#9d9daf, #6d6f80),
                /*repeating-image-pattern("/pics/stars.png"),*/
            radial-gradient(center 50% 50%, radius 50%, rgba(255, 255, 255, 0.2), #00000033);

    -fx-focus-color: transparent;
}

.btn-cstm{
    -fx-background-color: #707070;
    -fx-background-radius: 80;
    /*-fx-border-radius: 30;*/
    /*-fx-background-color: ;*/
}
.btn-cstm:hover{
    -fx-background-color: #858585;
}
.btn-cstm:pressed{
    -fx-background-color: #969696;
    /*-fx-scale-x: 99%;*/
}

.tweet-button {
    -fx-background-radius: 80;
    -fx-background-color: #1f8ee3;
    -fx-cursor: hand;

}
.tweet-button:hover{
    -fx-background-color: #1f85cd;

}
.scroll-bar {

    -fx-background-radius: 0;
    -fx-background-color: transparent !important;
    -fx-pref-width: 9;
}

.scroll-bar:hover {
    -fx-background-radius: 0;
    -fx-background-color: #4c4c4c !important;
    -fx-pref-width: 16;
}
.round-corner{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-color: firebrick;
    -fx-padding: 10px;
    -fx-background-radius: 60px;
}
.text-area{
    -fx-background-color: rgba(80, 80, 80, 0.36);
    -fx-cursor: text;
    -fx-font-size: 18;
    -fx-text-fill: white;
}
.header{
    -fx-background-color: rgba(95, 95, 95, 0.65);

}

