.root{
    -fx-background-color:
            linear-gradient(#4568DC, #B06AB3),
            repeating-image-pattern("/pics/stars.png"),
            radial-gradient(center 50% 50%, radius 50%, #FFFFFF33, #00000033);

    -fx-focus-color: transparent;

}
.title {
    -fx-text-fill: #cec1c1;
    -fx-font-family:  sans-serif;
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-letter-spacing: -1px;
    -fx-line-height: 1;
    -fx-text-align: center;

}

.button {
    -fx-background-color: rgba(41, 18, 81, 0.76);
    -fx-background-radius: 8;
    -fx-text-fill: #d1d1d1;
}
.button:hover{
    /*-fx-border-style: ;*/
    -fx-background-color: rgba(146, 114, 228, 0.65);
    -fx-scale-x: 95%;
}
.button:selected{
    -fxbackground-color: #d81d1d;
}


.rounded {
    -fx-background-radius: 15;
    -fx-background-color: rgba(0, 0, 37, 0.67);
}

.text {
    -fx-background-color: rgba(8, 8, 69, 0.65);
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
}
.text:focused{
    -fx-background-color: rgba(11, 11, 87, 0.65);

}